@import 'reset.css';
body {
  font-size: 14px;
  color: #404040;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}
body a {
  color: #818100;
}
body a:hover {
  color: #c3c300;
}
p {
  margin: 10px 0;
  line-height: 120%;
}
p.large {
  font-size: 20px;
  line-height: 120%;
}
code {
  white-space: pre;
  color: #eee;
  font-family: courier, mono;
  background-color: #404040;
  padding: 50px;
  display: block;
}
code .special {
  color: #a8a8a7;
  font-weight: bold;
}
code .definition {
  color: #ffffcf;
}
code .definition-type {
  color: #ff4;
}
code .reference {
  color: #bedae9;
}
code .condition {
  font-weight: bold;
}
header {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  color: #000;
  text-shadow: 0 0 15px rgba(255,255,255,0.7);
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
header iframe {
  position: absolute;
  top: 40px;
  right: 40px;
  float: right;
}
header img {
  height: 240px;
}
header h1 {
  font-size: 100px;
  margin: 20px 0 0;
  line-height: 100%;
}
header p {
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
}
section {
  width: 960px;
  margin: 80px auto;
}
footer {
  text-align: center;
  color: #a8a8a7;
  margin: 20px 0;
}
footer a {
  color: #8d8d00;
}
footer a:hover {
  color: #d5d500;
}
section#features {
  overflow: hidden;
}
section#features h2 {
  font-size: 23px;
}
section#features .row {
  overflow: hidden;
}
section#features section {
  width: 319.99999999999966px;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  margin: 0;
}
section#example {
  background-color: #404040;
  width: 100%;
}
section#example code {
  width: 960px;
  margin: 0 auto;
}
section#next-steps {
  width: 480px;
  font-size: 17px;
}
section#next-steps h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
section#next-steps li {
  padding: 10px 0;
}

